body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
}

#map {
    width: 100%;
    height: 640px;
    margin-bottom: 40px;
}

.info-window {
    font-family: 'Montserrat', sans-serif;
}

.info-content {
    color: #999;
}

#info-box {
    background-color: transparent;
    bottom: 30px;
    top: 120px;
    width: 200px;
    min-height: 200px;
    position: absolute;
    left: 30px;
}

.card {
    -moz-box-shadow: 2px 2px 5px #999999;
    -webkit-box-shadow: 2px 2px 5px #999999;
    box-shadow: 2px 2px 5px #999999;
}

