{% extends 'map/base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- /.row-->
    <div class="row">
        <div id="map"></div>

    </div>
    <div class="row">
        <!--<div class="col-md-6">-->
        <!--<div id="chart"></div>-->
        <!--&lt;!&ndash;<div id="chart" style="width: 600px;height:400px;"></div>&ndash;&gt;-->
        <!--</div>-->
        <div class="col-md-6">
            <div id="chart1" style="width:100%;height:400px;"></div>
            <!-- /.8 -->
        </div>
        <div class="col-md-6">
            <div id="chart2" style="width:100%;height:400px;"></div>
            <!-- /.8 -->
        </div>
        <!--<div class="col-md-6">-->
        <!--<div class="offer-item offer-2 animated fadeInRight">-->
        <!--<figure>-->
        <!--</figure>-->
        <!--<div class="offer-content">-->
        <!--<img class="red" height="20px" width="20px">-->
        <!--<h6 class="h5">Not satisfied: 139</h6>-->
        <!--<img class="green" height="20px" width="20px">-->
        <!--<h6 class="h5">Satisfied: 21</h6>-->
        <!--<img class="yel" height="20px" width="20px">-->
        <!--<h6 class="h5">Normal: 10</h6>-->
        <!--<span class="offer-left"><i></i></span>-->
        <!--<span class="offer-right"><i></i></span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
{% endblock content %}
