{% extends 'map/base.html' %}
{% load static %}

{% block content-css %}
<link href="{% static 'map/css/index.css' %}" rel='stylesheet' type='text/css'>
{% endblock content-css %}


{% block content %}

<div class="container">
    <h3 style="margin-top: 20px;">
        Authors
    </h3>

    <div class="row">

        <div class="col-sm-6 col-md-4 col-xl-4 mb-3" align="center" style="padding: 30px">
            <a href="#">
                <img class="img-thumbnail mb-3" src="{% static 'map/img/avatar/yu.jpeg' %}" alt="Album screenshot"
                     style="padding: 10px">
                <h5 class="mb-1">Yu Liu</h5>
            </a>
            <p class="text">Information Technology</p>
            <p class="text-muted">Email: yul22@student.unimelb.edu.au</p>

        </div>

        <div class="col-sm-6 col-md-4 col-xl-4 mb-3" align="center" style="padding: 30px">
            <a href="#" style="margin-bottom: 30px">
                <img class="img-thumbnail mb-3" src="{% static 'map/img/avatar/xingping.png' %}" alt="Album screenshot"
                     width="960" height="600">
                <h5 class="mb-1">Xingping Ding</h5>
            </a>
            <p class="text">Information Technology</p>
            <p class="text-muted">Email: xingpingd@student.unimelb.edu.au</p>
        </div>

        <div class="col-sm-6 col-md-4 col-xl-4 mb-3" align="center" style="padding: 30px">
            <a href="#" style="margin-bottom: 30px">
                <img class="img-thumbnail mb-3" src="{% static 'map/img/avatar/genshuo.jpeg' %}" alt="Album screenshot"
                     width="960" height="600">
                <h5 class="mb-1">Minglun Zhang</h5>
            </a>
            <p class="text">Information Technology</p>
            <p class="text-muted">Email: minglunz@student.unimelb.edu.au</p>
        </div>

        <div class="col-sm-6 col-md-4 col-xl-4 mb-3" align="center" style="padding: 30px">
            <a href="#" style="margin-bottom: 30px">
                <img class="img-thumbnail mb-3" src="{% static 'map/img/avatar/minsheng.png' %}" alt="Album screenshot"
                     width="960" height="600">
                <h5 class="mb-1">Minsheng Wang</h5>
            </a>
            <p class="text">Information Technology</p>
            <p class="text-muted">Email: minshengw@student.unimelb.edu.au</p>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-4 mb-3" align="center" style="padding: 30px">
            <a href="#" style="margin-bottom: 30px">
                <img class="img-thumbnail mb-3" src="{% static 'map/img/avatar/jize.jpeg' %}" alt="Album screenshot"
                     width="960" height="600">
                <h5 class="mb-1">Jize Dong</h5>
            </a>
            <p class="text">Information Technology</p>
            <p class="text-muted">Email: jized@student.unimelb.edu.au</p>
        </div>

    </div>
</div>

{% endblock content %}