{% extends 'map/base.html' %}
{% load static %}

{% block content-css %}
<link href="{% static 'map/css/index.css' %}" rel='stylesheet' type='text/css'>
{% endblock content-css %}


{% block content %}

<div class="container">
    <h3 style="margin-top: 20px;">
        Authors
    </h3>

    <div class="row">

        <div class="col-sm-6 col-md-4 col-xl-4 mb-3" align="center">
            <a href="#">
                <img class="img-thumbnail mb-3" src="{% static 'map/img/album2.jpg' %}" alt="Album screenshot"
                     width="960" height="600">
                <h5 class="mb-1">Jize Dong</h5>
            </a>
            <p class="text-muted">Information Technology</p>
            <p class="text-muted">Github: </p>
            <p class="text-muted">Email: jized@student.unimelb.edu.au</p>

        </div>

        <div class="col-sm-6 col-md-4 col-xl-4 mb-3" align="center">
            <a href="#">
                <img class="img-thumbnail mb-3" src="{% static 'map/img/album2.jpg' %}" alt="Album screenshot"
                     width="960" height="600">
                <h5 class="mb-1">Jize Dong</h5>
            </a>
            <p class="text-muted">Information Technology</p>
            <p class="text-muted">Github</p>
            <p class="text-muted">Email: jized@student.unimelb.edu.au</p>
        </div>

        <div class="col-sm-6 col-md-4 col-xl-4 mb-3" align="center">
            <a href="#">
                <img class="img-thumbnail mb-3" src="{% static 'map/img/album2.jpg' %}" alt="Album screenshot"
                     width="960" height="600">
                <h5 class="mb-1">Jize Dong</h5>
            </a>
            <p class="text-muted">Information Technology</p>
            <p class="text-muted">Github</p>
            <p class="text-muted">Email: jized@student.unimelb.edu.au</p>
        </div>

        <div class="col-sm-6 col-md-4 col-xl-4 mb-3" align="center">
            <a href="#">
                <img class="img-thumbnail mb-3" src="{% static 'map/img/album2.jpg' %}" alt="Album screenshot"
                     width="960" height="600">
                <h5 class="mb-1">Jize Dong</h5>
            </a>
            <p class="text-muted">Information Technology</p>
            <p class="text-muted">Github</p>
            <p class="text-muted">Email: jized@student.unimelb.edu.au</p>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-4 mb-3" align="center">
            <a href="#">
                <img class="img-thumbnail mb-3" src="{% static 'map/img/album2.jpg' %}" alt="Album screenshot"
                     width="960" height="600">
                <h5 class="mb-1">Jize Dong</h5>
            </a>
            <p class="text-muted">Information Technology</p>
            <p class="text-muted">Github</p>
            <p class="text-muted">Email: jized@student.unimelb.edu.au</p>
        </div>

    </div>
</div>

{% endblock content %}