{% extends 'map/base.html' %}
{% load static %}

{% block content-css %}
<link href="{% static 'map/css/custom.css' %}" rel='stylesheet' type='text/css'>
{% endblock content-css %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12" id="map"></div>
        <div id="info-box">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 id="suburb-name" class="card-title">Suburb Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Rental Affordability: </h6>
                        <p id="sentiment" class="card-text">N/A</p>
                    </div>
                </div>

                <form style="margin-top: 40px">
                    <select id="quarter-select" class="custom-select custom-select-lg mb-3">
                        <option value="4" selected>2017 Q2</option>
                        <option value="3">2017 Q1</option>
                        <option value="2">2016 Q4</option>
                        <option value="1">2016 Q3</option>
                    </select>
                </form>

            </div>
        </div>

    </div>
</div>

<div class="container" style="margin-bottom: 80px">
    <div class="row" style="margin-bottom: 40px">
        <div class="col-md-6" id="pie-chart1" style="width:100%;height:300px;"></div>
        <div class="col-md-6" id="pie-chart2" style="width:100%;height:300px;"></div>
    </div>
    <div class="row">
        <div class="col-md-6" id="pie-chart3" style="width:100%;height:300px;"></div>
        <div class="col-md-6" id="pie-chart4" style="width:100%;height:300px;"></div>
    </div>
</div>

{% endblock content %}

{% block content-js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6Z479QhF3vXmksr0WsN6PtYGkDaYIoxA"></script>
<script src="{% static 'map/js/echarts.js' %}"></script>

<script>

    var map;

    $(".navbar-brand").text("Rental Affordability");

    $("#quarter-select").change(function () {
        var quarterProperty = "rai_national_total_2017_q2";
        var value = $(this).children('option:selected').val();
        switch (value) {
            case "1":
                quarterProperty = "rai_national_total_2016_q3";
                break;
            case "2":
                quarterProperty = "rai_national_total_2016_q4";
                break;
            case "3":
                quarterProperty = "rai_national_total_2017_q1";
                break;
            case "4":
                quarterProperty = "rai_national_total_2017_q2";
                break;
            default:
                quarterProperty = "rai_national_total_2017_q2";
        }

        if (map !== undefined) {
            mapSetStyle(quarterProperty);
            mapAddListener(quarterProperty);
        }
    });


    function mapSetStyle(quarter) {

        map.data.setStyle(function (feature) {
            var outlineWeight = 0.5, zIndex = 1;
            if (feature.getProperty('state') === 'hover') {
                outlineWeight = zIndex = 2;
            }

            var color;
            var affordability = feature.getProperty(quarter);
            // var NewColor = lightenDarkenColor("#F06D06", 20);
            if (affordability == null) {
                color = "#666666";
            } else if (affordability < 90) {
                color = "#FF3333";
            } else if (affordability < 110) {
                color = "#FF9933";
            } else if (affordability < 130) {
                color = "#FFFF33";
            } else if (affordability < 150) {
                color = "#99FF33";
            } else {
                color = "#00BB00";
            }

            return ({
                // fillColor: feature.getProperty('color'),
                fillColor: color,
                fillOpacity: 0.65,
                strokeWeight: outlineWeight,
                zIndex: zIndex,
                strokeColor: '#FFFFFF',
                strokeOpacity: 0.9
            });
        });
    }

    function mapAddListener(quarter) {
        map.data.addListener('mouseover', function (event) {
            event.feature.setProperty('state', 'hover');

            $("#suburb-name").text(event.feature.getProperty('geography_name') == null ?
                'N/A' : event.feature.getProperty('geography_name'));
            $("#sentiment").text(event.feature.getProperty(quarter) === null ?
                'N/A' : event.feature.getProperty(quarter));
            event.feature.setProperty('state', 'hover');
        });
        map.data.addListener('mouseout', function (event) {
            event.feature.setProperty('state', 'normal');
        })
    }


    function initMap() {
        var location = {lat: -37.8136, lng: 144.99758596};
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
            center: location,
            zoom: 10,
            panControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#bdbdbd"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dadada"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#c9c9c9"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                }
            ]

        };
        map = new google.maps.Map(mapCanvas, mapOptions);

        // map.data.loadGeoJson("{% static 'map/img/Melb_ad.geojson' %}");
        map.data.loadGeoJson("{% static 'map/img/affordability20162017.geojson' %}");

        mapSetStyle("rai_national_total_2017_q2");
        mapAddListener("rai_national_total_2017_q2");


    }

    google.maps.event.addDomListener(window, 'load', initMap);

    // TODO asynchronized loading
    // var myChart = echarts.init(document.getElementById('main'));
    // $.get('data.json').done(function (data) {
    //     myChart.setOption({
    //         title: {
    //             text: '异步数据加载示例'
    //         },
    //         tooltip: {},
    //         legend: {
    //             data: ['销量']
    //         },
    //         xAxis: {
    //             data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
    //         },
    //         yAxis: {},
    //         series: [{
    //             name: '销量',
    //             type: 'bar',
    //             data: [5, 20, 36, 10, 10, 20]
    //         }]
    //     });
    // });


    $.getJSON("http://127.0.0.1:8000/affordability_proportions", function (data) {
            console.log(data["rai_national_total_2016_q3"]);

            var pieChart1 = echarts.init(document.getElementById('pie-chart1')).setOption({
                title: {
                    text: 'Rental Affordability Proportion 2016 Q3',
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'right',
                    y: 'bottom',
                    data: ['< 90', '90 <= x < 110', '110 <= x < 130', '130 <= x < 150', '>= 150', 'N/A']
                },
                series: [
                    {
                        name: 'Rental Affordability',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '18',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: [
                            {value: data["rai_national_total_2016_q3"]["< 90"], name: '< 90'},
                            {value: data["rai_national_total_2016_q3"]["90 <= x < 110"], name: '90 <= x < 110'},
                            {value: data["rai_national_total_2016_q3"]["110 <= x < 130"], name: '110 <= x < 130'},
                            {value: data["rai_national_total_2016_q3"]["130 <= x < 150"], name: '130 <= x < 150'},
                            {value: data["rai_national_total_2016_q3"][">= 150"], name: '>= 150'},
                            {value: data["rai_national_total_2016_q3"]["N/A"], name: 'N/A'}

                        ]
                    }
                ],
                color:
                    ['#FF3333', '#FF9933', '#FFFF33', '#99FF33', '#00BB00', '#CCCCCC']

            });

            var pieChart2 = echarts.init(document.getElementById('pie-chart2')).setOption({
                title: {
                    text: 'Rental Affordability Proportion 2016 Q4',
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'right',
                    y: 'bottom',
                    data: ['< 90', '90 <= x < 110', '110 <= x < 130', '130 <= x < 150', '>= 150', 'N/A']
                },
                series: [
                    {
                        name: 'Rental Affordability 2016 Q1',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '18',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: [
                            {value: data["rai_national_total_2016_q4"]["< 90"], name: '< 90'},
                            {value: data["rai_national_total_2016_q4"]["90 <= x < 110"], name: '90 <= x < 110'},
                            {value: data["rai_national_total_2016_q4"]["110 <= x < 130"], name: '110 <= x < 130'},
                            {value: data["rai_national_total_2016_q4"]["130 <= x < 150"], name: '130 <= x < 150'},
                            {value: data["rai_national_total_2016_q4"][">= 150"], name: '>= 150'},
                            {value: data["rai_national_total_2016_q4"]["N/A"], name: 'N/A'}
                        ]
                    }
                ],
                color:
                    ['#FF3333', '#FF9933', '#FFFF33', '#99FF33', '#00BB00', '#CCCCCC']

            });

            var pieChart3 = echarts.init(document.getElementById('pie-chart3')).setOption({
                title: {
                    text: 'Rental Affordability Proportion 2017 Q1',
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'right',
                    y: 'bottom',
                    data: ['< 90', '90 <= x < 110', '110 <= x < 130', '130 <= x < 150', '>= 150', 'N/A']
                },
                series: [
                    {
                        name: 'Rental Affordability 2016 Q1',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '18',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: [
                            {value: data["rai_national_total_2017_q1"]["< 90"], name: '< 90'},
                            {value: data["rai_national_total_2017_q1"]["90 <= x < 110"], name: '90 <= x < 110'},
                            {value: data["rai_national_total_2017_q1"]["110 <= x < 130"], name: '110 <= x < 130'},
                            {value: data["rai_national_total_2017_q1"]["130 <= x < 150"], name: '130 <= x < 150'},
                            {value: data["rai_national_total_2017_q1"][">= 150"], name: '>= 150'},
                            {value: data["rai_national_total_2017_q1"]["N/A"], name: 'N/A'}
                        ]
                    }
                ],
                color:
                    ['#FF3333', '#FF9933', '#FFFF33', '#99FF33', '#00BB00', '#CCCCCC']

            });

            var pieChart4 = echarts.init(document.getElementById('pie-chart4')).setOption({
                title: {
                    text: 'Rental Affordability Proportion 2017 Q2'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'right',
                    y: 'bottom',
                    data: ['< 90', '90 <= x < 110', '110 <= x < 130', '130 <= x < 150', '>= 150', 'N/A']
                },
                series: [
                    {
                        name: 'Rental Affordability 2016 Q1',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '18',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: [
                            {value: data["rai_national_total_2017_q2"]["< 90"], name: '< 90'},
                            {value: data["rai_national_total_2017_q2"]["90 <= x < 110"], name: '90 <= x < 110'},
                            {value: data["rai_national_total_2017_q2"]["110 <= x < 130"], name: '110 <= x < 130'},
                            {value: data["rai_national_total_2017_q2"]["130 <= x < 150"], name: '130 <= x < 150'},
                            {value: data["rai_national_total_2017_q2"][">= 150"], name: '>= 150'},
                            {value: data["rai_national_total_2017_q2"]["N/A"], name: 'N/A'}
                        ]
                    }
                ],
                color:
                    ['#FF3333', '#FF9933', '#FFFF33', '#99FF33', '#00BB00', '#CCCCCC']

            });


        }
    );


</script>

{% endblock content-js %}