{% extends 'map/base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-bottom: 80px; margin-top: 0px;">
    <div class="row" style="margin-bottom: 40px">
        <img class="img-fluid mb-3" src="{% static 'map/img/avengers_banner.jpg' %}" alt="poster">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="avenger-bar-chart" style="width:100%;height:800px;margin-bottom: 40px"></div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="avenger-pie-chart" style="width:100%;height:400px;margin-bottom: 40px"></div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}

{% block content-js %}

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6Z479QhF3vXmksr0WsN6PtYGkDaYIoxA"></script>
<script src="{% static 'map/js/echarts.js' %}"></script>
<script>

    $.ajax({
        url: API_DOMAIN + "/avengers_data",
        headers: {'Access-Control-Allow-Origin': '*'},
        crossDomain: true,
        success: function (json) {
            var heroList = [];
            var posList = [];
            var negList = [];
            var neuList = [];
            var dataList = data["data"];
            for (var i = 0; i < dataList.length - 1; i++) {
                heroList.push(dataList[i]["name"]);
                posList.push(dataList[i]["positive"]);
                negList.push(dataList[i]["negative"]);
                neuList.push(dataList[i]["neutral"]);
            }
            var aName = dataList[dataList.length - 1]["name"];
            var aPos = dataList[dataList.length - 1]["positive"];
            var aNeg = dataList[dataList.length - 1]["negative"];
            var aNeu = dataList[dataList.length - 1]["neutral"];

            var chart1 = echarts.init(document.getElementById('avenger-bar-chart')).setOption({
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    title: {text: "Melburnians' Attitudes towards Super Heroes in Avengers: Infinity War"},
                    legend: {
                        data: ['positive', 'negative', 'neutral'],
                        x: 'right'
                    },
                    grid: {
                        top: '10%',
                        left: '2%',
                        right: '12%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        name: 'Number of Tweets',
                        type: 'value'
                    },
                    yAxis: {
                        name: 'superhero',
                        type: 'category',
                        data: heroList
                    },
                    series: [
                        {
                            name: 'positive',
                            type: 'bar',
                            stack: '总量',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'insideRight'
                                }
                            },
                            data: posList
                        },
                        {
                            name: 'negative',
                            type: 'bar',
                            stack: '总量',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'insideRight'
                                }
                            },
                            data: negList
                        },
                        {
                            name: 'neutral',
                            type: 'bar',
                            stack: '总量',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'insideRight'
                                }
                            },
                            data: neuList
                        }
                    ]
                }
            );


            var pieChart = echarts.init(document.getElementById('avenger-pie-chart')).setOption({
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                title: {
                    text: "Melburnians' Attitudes towards The Avengers: Infinity War",
                    x: 'center'
                },
                legend: {
                    orient: 'vertical',
                    data: ["positive", "negative", "neutral"],
                    x: 'right',
                    y: 'bottom'
                },
                series: [
                    {
                        name: 'sentiment',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: [
                            {value: aPos, name: 'positive'},
                            {value: aNeg, name: 'negative'},
                            {value: aNeu, name: 'neutral'}
                        ]
                    }
                ]
            });
        },
        error: function () {
            console.log("error")
        },
        datatype: 'jsonp'
    });

</script>

{% endblock content-js %}