{% extends 'map/base.html' %}
{% load static %}
{% block content %}
<div id="floating-panel">
    <button onclick="toggleHeatmap()">Toggle Heatmap</button>
    <button onclick="changeGradient()">Change gradient</button>
    <button onclick="changeRadius()">Change radius</button>
    <button onclick="changeOpacity()">Change opacity</button>
</div>
<div id="map"></div>
<script>

    // This example requires the Visualization library. Include the libraries=visualization
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">

    var map, heatmap;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat: -37.8136, lng: 144.99758596},
            styles: [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#bdbdbd"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dadada"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#c9c9c9"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                }
            ]
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
            data: getPoints(),
            map: map
        });
    }

    function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
    }

    function changeGradient() {
        var gradient = [
            'rgba(0, 255, 255, 0)',
            'rgba(0, 255, 255, 1)',
            'rgba(0, 191, 255, 1)',
            'rgba(0, 127, 255, 1)',
            'rgba(0, 63, 255, 1)',
            'rgba(0, 0, 255, 1)',
            'rgba(0, 0, 223, 1)',
            'rgba(0, 0, 191, 1)',
            'rgba(0, 0, 159, 1)',
            'rgba(0, 0, 127, 1)',
            'rgba(63, 0, 91, 1)',
            'rgba(127, 0, 63, 1)',
            'rgba(191, 0, 31, 1)',
            'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
    }

    function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
    }

    function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
    }

    // Heatmap data: 500 Points
    function getPoints() {
        var result = [];

        // TODO 遍历geojson,取出经纬度坐标


        return [
            new google.maps.LatLng(-37.812551, 144.945368),
            new google.maps.LatLng(-37.812745, 144.944586),
            new google.maps.LatLng(-37.812842, 144.943688),
            new google.maps.LatLng(-37.812919, 144.942815),
            new google.maps.LatLng(-37.812992, 144.942112),
            new google.maps.LatLng(-37.813100, 144.941461),
            new google.maps.LatLng(-37.813206, 144.940829),
            new google.maps.LatLng(-37.813273, 144.940324),
            new google.maps.LatLng(-37.813316, 144.940023),
            new google.maps.LatLng(-37.813357, 144.939794),
            new google.maps.LatLng(-37.813371, 144.939687),
            new google.maps.LatLng(-37.813368, 144.939666),
            new google.maps.LatLng(-37.813383, 144.939594),
            new google.maps.LatLng(-37.813508, 144.939525),
            new google.maps.LatLng(-37.813842, 144.939591),
            new google.maps.LatLng(-37.814147, 144.939668),
            new google.maps.LatLng(-37.814206, 144.939686),
            new google.maps.LatLng(-37.814386, 144.939790),
            new google.maps.LatLng(-37.814701, 144.939902),
            new google.maps.LatLng(-37.814965, 144.939938),
            new google.maps.LatLng(-37.815010, 144.939947),
            new google.maps.LatLng(-37.815360, 144.939952),
            new google.maps.LatLng(-37.815715, 144.940030),
            new google.maps.LatLng(-37.816117, 144.940119),
            new google.maps.LatLng(-37.816564, 144.940209),
            new google.maps.LatLng(-37.816905, 144.940270),
            new google.maps.LatLng(-37.816956, 144.940279),
            new google.maps.LatLng(-37.800224, 144.933520),
            new google.maps.LatLng(-37.800155, 144.934101),
            new google.maps.LatLng(-37.800160, 144.934430),
            new google.maps.LatLng(-37.800378, 144.934527),
            new google.maps.LatLng(-37.800738, 144.934598),
            new google.maps.LatLng(-37.800938, 144.934650),
            new google.maps.LatLng(-37.801024, 144.934889),
            new google.maps.LatLng(-37.800955, 144.935392),
            new google.maps.LatLng(-37.800886, 144.935959),
            new google.maps.LatLng(-37.800811, 144.936275),
            new google.maps.LatLng(-37.800788, 144.936299),
            new google.maps.LatLng(-37.800719, 144.936302),
            new google.maps.LatLng(-37.800702, 144.936298),
            new google.maps.LatLng(-37.800661, 144.936273),
            new google.maps.LatLng(-37.800395, 144.936172),
            new google.maps.LatLng(-37.800228, 144.936116),
            new google.maps.LatLng(-37.800169, 144.936130),
            new google.maps.LatLng(-37.800066, 144.936167),
            new google.maps.LatLng(-37.814345, 144.922922),
            new google.maps.LatLng(-37.814389, 144.922926),
            new google.maps.LatLng(-37.814437, 144.922924),
            new google.maps.LatLng(-37.814746, 144.922818),
            new google.maps.LatLng(-37.815436, 144.922959),
            new google.maps.LatLng(-37.816120, 144.923112),
            new google.maps.LatLng(-37.816433, 144.923029),
            new google.maps.LatLng(-37.816631, 144.921213),
            new google.maps.LatLng(-37.816660, 144.921033),
            new google.maps.LatLng(-37.816801, 144.920141),
            new google.maps.LatLng(-37.816823, 144.920034),
            new google.maps.LatLng(-37.816831, 144.919916),
            new google.maps.LatLng(-37.817034, 144.918208),
            new google.maps.LatLng(-37.817056, 144.918034),
            new google.maps.LatLng(-37.817169, 144.917145),
            new google.maps.LatLng(-37.817217, 144.916715),
            new google.maps.LatLng(-37.816144, 144.916403),
            new google.maps.LatLng(-37.815292, 144.916257),
            new google.maps.LatLng(-37.810666, -122.390374),
            new google.maps.LatLng(-37.810501, -122.391281),
            new google.maps.LatLng(-37.810148, -122.392052),
            new google.maps.LatLng(-37.810173, -122.391148),
            new google.maps.LatLng(-37.810693, -122.390592),
            new google.maps.LatLng(-37.811261, -122.391142),
            new google.maps.LatLng(-37.811808, -122.391730),
            new google.maps.LatLng(-37.812340, -122.392341),
            new google.maps.LatLng(-37.812812, -122.393022),
            new google.maps.LatLng(-37.813300, -122.393672),
            new google.maps.LatLng(-37.813809, -122.394275),
            new google.maps.LatLng(-37.814246, -122.394979),
            new google.maps.LatLng(-37.814791, -122.395958),
            new google.maps.LatLng(-37.815675, -122.396746),
            new google.maps.LatLng(-37.816262, -122.395780),
            new google.maps.LatLng(-37.816776, -122.395093),
            new google.maps.LatLng(-37.817282, -122.394426),
            new google.maps.LatLng(-37.817783, -122.393767),
            new google.maps.LatLng(-37.818343, -122.393184),
            new google.maps.LatLng(-37.818895, -122.392506),
            new google.maps.LatLng(-37.819371, -122.391701),
            new google.maps.LatLng(-37.819722, -122.390952),
            new google.maps.LatLng(-37.790315, -122.390305),
            new google.maps.LatLng(-37.790738, -122.389616),
            new google.maps.LatLng(-37.779448, 144.938702),
            new google.maps.LatLng(-37.779023, 144.938585),
            new google.maps.LatLng(-37.778542, 144.938492),
            new google.maps.LatLng(-37.778100, 144.938411),
            new google.maps.LatLng(-37.777986, 144.938376),
            new google.maps.LatLng(-37.777680, 144.938313),
            new google.maps.LatLng(-37.777316, 144.938273),
            new google.maps.LatLng(-37.777135, 144.938254),
            new google.maps.LatLng(-37.776987, 144.938303),
            new google.maps.LatLng(-37.776946, 144.938404),
            new google.maps.LatLng(-37.776944, 144.938467),
            new google.maps.LatLng(-37.776892, 144.938459),
            new google.maps.LatLng(-37.776842, 144.938442),
            new google.maps.LatLng(-37.776822, 144.938391),
            new google.maps.LatLng(-37.776814, 144.938412),
            new google.maps.LatLng(-37.776787, 144.938628),
            new google.maps.LatLng(-37.776729, 144.938650),
            new google.maps.LatLng(-37.776759, 144.938677),
            new google.maps.LatLng(-37.776772, 144.938498),
            new google.maps.LatLng(-37.776787, 144.938389),
            new google.maps.LatLng(-37.776848, 144.938283),
            new google.maps.LatLng(-37.776870, 144.938239),
            new google.maps.LatLng(-37.777015, 144.938198),
            new google.maps.LatLng(-37.777333, 144.938256),
            new google.maps.LatLng(-37.777595, 144.938308),
            new google.maps.LatLng(-37.777797, 144.938344),
            new google.maps.LatLng(-37.778160, 144.938442),
            new google.maps.LatLng(-37.778414, 144.938508),
            new google.maps.LatLng(-37.778445, 144.938516),
            new google.maps.LatLng(-37.778503, 144.938529),
            new google.maps.LatLng(-37.778607, 144.938549),
            new google.maps.LatLng(-37.778670, 144.938644),
            new google.maps.LatLng(-37.778847, 144.938706),
            new google.maps.LatLng(-37.779240, 144.938744),
            new google.maps.LatLng(-37.779738, 144.938822),
            new google.maps.LatLng(-37.810201, 144.938882),
            new google.maps.LatLng(-37.810400, 144.938905),
            new google.maps.LatLng(-37.810501, 144.938921),
            new google.maps.LatLng(-37.810892, 144.938986),
            new google.maps.LatLng(-37.811446, 144.939087),
            new google.maps.LatLng(-37.811985, 144.939199),
            new google.maps.LatLng(-37.812239, 144.939249),
            new google.maps.LatLng(-37.812286, 144.939266),
            new google.maps.LatLng(-37.797847, 144.929388),
            new google.maps.LatLng(-37.797874, 144.929180),
            new google.maps.LatLng(-37.797885, 144.929069),
            new google.maps.LatLng(-37.797887, 144.929050),
            new google.maps.LatLng(-37.797933, 144.928954),
            new google.maps.LatLng(-37.798242, 144.928990),
            new google.maps.LatLng(-37.798617, 144.929075),
            new google.maps.LatLng(-37.798719, 144.929092),
            new google.maps.LatLng(-37.798944, 144.929145),
            new google.maps.LatLng(-37.799320, 144.929251),
            new google.maps.LatLng(-37.799590, 144.929309),
            new google.maps.LatLng(-37.799677, 144.929324),
            new google.maps.LatLng(-37.799966, 144.929360),
            new google.maps.LatLng(-37.800288, 144.929430),
            new google.maps.LatLng(-37.800443, 144.929461),
            new google.maps.LatLng(-37.800465, 144.929474),
            new google.maps.LatLng(-37.800644, 144.929540),
            new google.maps.LatLng(-37.800948, 144.929620),
            new google.maps.LatLng(-37.801242, 144.929685),
            new google.maps.LatLng(-37.801375, 144.929702),
            new google.maps.LatLng(-37.801400, 144.929703),
            new google.maps.LatLng(-37.801453, 144.929707),
            new google.maps.LatLng(-37.801473, 144.929709),
            new google.maps.LatLng(-37.801532, 144.929707),
            new google.maps.LatLng(-37.801852, 144.929729),
            new google.maps.LatLng(-37.802173, 144.929789),
            new google.maps.LatLng(-37.802459, 144.929847),
            new google.maps.LatLng(-37.802554, 144.929825),
            new google.maps.LatLng(-37.802647, 144.929549),
            new google.maps.LatLng(-37.802693, 144.929179),
            new google.maps.LatLng(-37.802729, 144.928751),
            new google.maps.LatLng(-37.766104, 144.909291),
            new google.maps.LatLng(-37.766103, 144.909268),
            new google.maps.LatLng(-37.766138, 144.909229),
            new google.maps.LatLng(-37.766183, 144.909231),
            new google.maps.LatLng(-37.766153, 144.909276),
            new google.maps.LatLng(-37.766005, 144.909365),
            new google.maps.LatLng(-37.765897, 144.909570),
            new google.maps.LatLng(-37.765767, 144.909739),
            new google.maps.LatLng(-37.765693, 144.910389),
            new google.maps.LatLng(-37.765615, 144.911201),
            new google.maps.LatLng(-37.765533, 144.912121),
            new google.maps.LatLng(-37.765467, 144.912939),
            new google.maps.LatLng(-37.765444, 144.914821),
            new google.maps.LatLng(-37.765444, 144.914964),
            new google.maps.LatLng(-37.765318, 144.915424),
            new google.maps.LatLng(-37.763961, 144.915296),
            new google.maps.LatLng(-37.763115, 144.915196),
            new google.maps.LatLng(-37.762967, 144.915183),
            new google.maps.LatLng(-37.762278, 144.915127),
            new google.maps.LatLng(-37.761675, 144.915055),
            new google.maps.LatLng(-37.760932, 144.914988),
            new google.maps.LatLng(-37.759337, 144.914862),
            new google.maps.LatLng(-37.773187, 144.921922),
            new google.maps.LatLng(-37.773043, 144.922118),
            new google.maps.LatLng(-37.773007, 144.922165),
            new google.maps.LatLng(-37.772979, 144.922219),
            new google.maps.LatLng(-37.772865, 144.922394),
            new google.maps.LatLng(-37.772779, 144.922503),
            new google.maps.LatLng(-37.772676, 144.922701),
            new google.maps.LatLng(-37.772606, 144.922806),
            new google.maps.LatLng(-37.772566, 144.922840),
            new google.maps.LatLng(-37.772508, 144.922852),
            new google.maps.LatLng(-37.772387, 144.923011),
            new google.maps.LatLng(-37.772099, 144.923328),
            new google.maps.LatLng(-37.771704, 144.923783),
            new google.maps.LatLng(-37.771481, 144.924081),
            new google.maps.LatLng(-37.771400, 144.924179),
            new google.maps.LatLng(-37.771352, 144.924220),
            new google.maps.LatLng(-37.771248, 144.924327),
            new google.maps.LatLng(-37.770904, 144.924781),
            new google.maps.LatLng(-37.770520, 144.925283),
            new google.maps.LatLng(-37.770337, 144.925553),
            new google.maps.LatLng(-37.770128, 144.925832),
            new google.maps.LatLng(-37.769756, 144.926331),
            new google.maps.LatLng(-37.769300, 144.926902),
            new google.maps.LatLng(-37.769132, 144.927065),
            new google.maps.LatLng(-37.769092, 144.927103),
            new google.maps.LatLng(-37.768979, 144.927172),
            new google.maps.LatLng(-37.768595, 144.927634),
            new google.maps.LatLng(-37.768372, 144.927913),
            new google.maps.LatLng(-37.768337, 144.927961),
            new google.maps.LatLng(-37.768244, 144.928138),
            new google.maps.LatLng(-37.767942, 144.928581),
            new google.maps.LatLng(-37.767482, 144.929094),
            new google.maps.LatLng(-37.767031, 144.929606),
            new google.maps.LatLng(-37.766732, 144.929986),
            new google.maps.LatLng(-37.766680, 144.930058),
            new google.maps.LatLng(-37.766633, 144.930109),
            new google.maps.LatLng(-37.766580, 144.930211),
            new google.maps.LatLng(-37.766367, 144.930594),
            new google.maps.LatLng(-37.765910, 144.931137),
            new google.maps.LatLng(-37.765353, 144.931806),
            new google.maps.LatLng(-37.764962, 144.932298),
            new google.maps.LatLng(-37.764868, 144.932486),
            new google.maps.LatLng(-37.764518, 144.932913),
            new google.maps.LatLng(-37.763435, 144.934173),
            new google.maps.LatLng(-37.762847, 144.934953),
            new google.maps.LatLng(-37.762291, 144.935935),
            new google.maps.LatLng(-37.762224, 144.936074),
            new google.maps.LatLng(-37.761957, 144.936892),
            new google.maps.LatLng(-37.761652, 144.938886),
            new google.maps.LatLng(-37.761284, 144.939955),
            new google.maps.LatLng(-37.761210, 144.940068),
            new google.maps.LatLng(-37.761064, 144.940720),
            new google.maps.LatLng(-37.761040, 144.941411),
            new google.maps.LatLng(-37.761048, 144.942324),
            new google.maps.LatLng(-37.760851, 144.943118),
            new google.maps.LatLng(-37.759977, 144.944591),
            new google.maps.LatLng(-37.759913, 144.944698),
            new google.maps.LatLng(-37.759623, 144.945065),
            new google.maps.LatLng(-37.758902, 144.945158),
            new google.maps.LatLng(-37.758428, 144.944570),
            new google.maps.LatLng(-37.757687, 144.943340),
            new google.maps.LatLng(-37.757583, 144.943240),
            new google.maps.LatLng(-37.757019, 144.942787),
            new google.maps.LatLng(-37.756603, 144.942322),
            new google.maps.LatLng(-37.756380, 144.941602),
            new google.maps.LatLng(-37.755790, 144.941382),
            new google.maps.LatLng(-37.754493, 144.942133),
            new google.maps.LatLng(-37.754361, 144.942206),
            new google.maps.LatLng(-37.753719, 144.942650),
            new google.maps.LatLng(-37.753096, 144.942915),
            new google.maps.LatLng(-37.751617, 144.943211),
            new google.maps.LatLng(-37.751496, 144.943246),
            new google.maps.LatLng(-37.750733, 144.943428),
            new google.maps.LatLng(-37.750126, 144.943536),
            new google.maps.LatLng(-37.750103, 144.943784),
            new google.maps.LatLng(-37.750390, 144.944010),
            new google.maps.LatLng(-37.750448, 144.944013),
            new google.maps.LatLng(-37.750536, 144.944040),
            new google.maps.LatLng(-37.750493, 144.944141),
            new google.maps.LatLng(-37.790859, 144.902808),
            new google.maps.LatLng(-37.790864, 144.902768),
            new google.maps.LatLng(-37.790995, 144.902539),
            new google.maps.LatLng(-37.791148, 144.902172),
            new google.maps.LatLng(-37.791385, 144.901312),
            new google.maps.LatLng(-37.791405, 144.900776),
            new google.maps.LatLng(-37.791288, 144.900528),
            new google.maps.LatLng(-37.791113, 144.900441),
            new google.maps.LatLng(-37.791027, 144.900395),
            new google.maps.LatLng(-37.791094, 144.900311),
            new google.maps.LatLng(-37.791211, 144.900183),
            new google.maps.LatLng(-37.791060, -122.399334),
            new google.maps.LatLng(-37.790538, -122.398718),
            new google.maps.LatLng(-37.790095, -122.398086),
            new google.maps.LatLng(-37.819644, -122.397360),
            new google.maps.LatLng(-37.819254, -122.396844),
            new google.maps.LatLng(-37.818855, -122.396397),
            new google.maps.LatLng(-37.818483, -122.395963),
            new google.maps.LatLng(-37.818015, -122.395365),
            new google.maps.LatLng(-37.817558, -122.394735),
            new google.maps.LatLng(-37.817472, -122.394323),
            new google.maps.LatLng(-37.817630, -122.394025),
            new google.maps.LatLng(-37.817767, -122.393987),
            new google.maps.LatLng(-37.817486, -122.394452),
            new google.maps.LatLng(-37.816977, -122.395043),
            new google.maps.LatLng(-37.816583, -122.395552),
            new google.maps.LatLng(-37.816540, -122.395610),
            new google.maps.LatLng(-37.816516, -122.395659),
            new google.maps.LatLng(-37.816378, -122.395707),
            new google.maps.LatLng(-37.816044, -122.395362),
            new google.maps.LatLng(-37.815598, -122.394715),
            new google.maps.LatLng(-37.815321, -122.394361),
            new google.maps.LatLng(-37.815207, -122.394236),
            new google.maps.LatLng(-37.815751, -122.394062),
            new google.maps.LatLng(-37.815996, -122.393881),
            new google.maps.LatLng(-37.816092, -122.393830),
            new google.maps.LatLng(-37.815998, -122.393899),
            new google.maps.LatLng(-37.815114, -122.394365),
            new google.maps.LatLng(-37.815022, -122.394441),
            new google.maps.LatLng(-37.814823, -122.394635),
            new google.maps.LatLng(-37.814719, -122.394629),
            new google.maps.LatLng(-37.815069, -122.394176),
            new google.maps.LatLng(-37.815500, -122.393650),
            new google.maps.LatLng(-37.815770, -122.393291),
            new google.maps.LatLng(-37.815839, -122.393159),
            new google.maps.LatLng(-37.812651, 144.900628),
            new google.maps.LatLng(-37.812616, 144.900599),
            new google.maps.LatLng(-37.812702, 144.900470),
            new google.maps.LatLng(-37.812915, 144.900192),
            new google.maps.LatLng(-37.813137, -122.399887),
            new google.maps.LatLng(-37.813414, -122.399519),
            new google.maps.LatLng(-37.813629, -122.399237),
            new google.maps.LatLng(-37.813688, -122.399157),
            new google.maps.LatLng(-37.813716, -122.399106),
            new google.maps.LatLng(-37.813798, -122.399072),
            new google.maps.LatLng(-37.813997, -122.399186),
            new google.maps.LatLng(-37.814271, -122.399538),
            new google.maps.LatLng(-37.814577, -122.399948),
            new google.maps.LatLng(-37.814828, 144.900260),
            new google.maps.LatLng(-37.814999, 144.900477),
            new google.maps.LatLng(-37.815113, 144.900651),
            new google.maps.LatLng(-37.815155, 144.900703),
            new google.maps.LatLng(-37.815192, 144.900749),
            new google.maps.LatLng(-37.815278, 144.900839),
            new google.maps.LatLng(-37.815387, 144.900857),
            new google.maps.LatLng(-37.815478, 144.900890),
            new google.maps.LatLng(-37.815526, 144.901022),
            new google.maps.LatLng(-37.815598, 144.901148),
            new google.maps.LatLng(-37.815631, 144.901202),
            new google.maps.LatLng(-37.815660, 144.901267),
            new google.maps.LatLng(-37.803986, 144.926035),
            new google.maps.LatLng(-37.804102, 144.925089),
            new google.maps.LatLng(-37.804211, 144.924156),
            new google.maps.LatLng(-37.803861, 144.923385),
            new google.maps.LatLng(-37.803151, 144.923214),
            new google.maps.LatLng(-37.802439, 144.923077),
            new google.maps.LatLng(-37.801740, 144.922905),
            new google.maps.LatLng(-37.801069, 144.922785),
            new google.maps.LatLng(-37.800345, 144.922649),
            new google.maps.LatLng(-37.799633, 144.922603),
            new google.maps.LatLng(-37.799750, 144.921700),
            new google.maps.LatLng(-37.799885, 144.920854),
            new google.maps.LatLng(-37.799209, 144.920607),
            new google.maps.LatLng(-37.795656, 144.900395),
            new google.maps.LatLng(-37.795203, 144.900304),
            new google.maps.LatLng(-37.778738, 144.915584),
            new google.maps.LatLng(-37.778812, 144.915189),
            new google.maps.LatLng(-37.778824, 144.915092),
            new google.maps.LatLng(-37.778833, 144.914932),
            new google.maps.LatLng(-37.778834, 144.914898),
            new google.maps.LatLng(-37.778740, 144.914757),
            new google.maps.LatLng(-37.778501, 144.914433),
            new google.maps.LatLng(-37.778182, 144.914026),
            new google.maps.LatLng(-37.777851, 144.913623),
            new google.maps.LatLng(-37.777486, 144.913166),
            new google.maps.LatLng(-37.777109, 144.912674),
            new google.maps.LatLng(-37.776743, 144.912186),
            new google.maps.LatLng(-37.776440, 144.911800),
            new google.maps.LatLng(-37.776295, 144.911614),
            new google.maps.LatLng(-37.776158, 144.911440),
            new google.maps.LatLng(-37.775806, 144.910997),
            new google.maps.LatLng(-37.775422, 144.910484),
            new google.maps.LatLng(-37.775126, 144.910087),
            new google.maps.LatLng(-37.775012, 144.909854),
            new google.maps.LatLng(-37.775164, 144.909573),
            new google.maps.LatLng(-37.775498, 144.909180),
            new google.maps.LatLng(-37.775868, 144.908730),
            new google.maps.LatLng(-37.776256, 144.908240),
            new google.maps.LatLng(-37.776519, 144.907928),
            new google.maps.LatLng(-37.776539, 144.907904),
            new google.maps.LatLng(-37.776595, 144.907854),
            new google.maps.LatLng(-37.776853, 144.907547),
            new google.maps.LatLng(-37.777234, 144.907087),
            new google.maps.LatLng(-37.777644, 144.906558),
            new google.maps.LatLng(-37.778066, 144.906017),
            new google.maps.LatLng(-37.778468, 144.905499),
            new google.maps.LatLng(-37.778866, 144.904995),
            new google.maps.LatLng(-37.779295, 144.904455),
            new google.maps.LatLng(-37.779695, 144.903950),
            new google.maps.LatLng(-37.779982, 144.903584),
            new google.maps.LatLng(-37.810295, 144.903223),
            new google.maps.LatLng(-37.810664, 144.902766),
            new google.maps.LatLng(-37.811043, 144.902288),
            new google.maps.LatLng(-37.811399, 144.901823),
            new google.maps.LatLng(-37.811727, 144.901407),
            new google.maps.LatLng(-37.811853, 144.901247),
            new google.maps.LatLng(-37.811894, 144.901195),
            new google.maps.LatLng(-37.812076, 144.900977),
            new google.maps.LatLng(-37.812338, 144.900603),
            new google.maps.LatLng(-37.812666, 144.900133),
            new google.maps.LatLng(-37.813048, -122.399634),
            new google.maps.LatLng(-37.813450, -122.399198),
            new google.maps.LatLng(-37.813791, -122.398998),
            new google.maps.LatLng(-37.814177, -122.398959),
            new google.maps.LatLng(-37.814388, -122.398971),
            new google.maps.LatLng(-37.814404, -122.399128),
            new google.maps.LatLng(-37.814586, -122.399524),
            new google.maps.LatLng(-37.814835, -122.399927),
            new google.maps.LatLng(-37.815116, 144.900307),
            new google.maps.LatLng(-37.815282, 144.900539),
            new google.maps.LatLng(-37.815346, 144.900692),
            new google.maps.LatLng(-37.765769, 144.907201),
            new google.maps.LatLng(-37.765790, 144.907414),
            new google.maps.LatLng(-37.765802, 144.907755),
            new google.maps.LatLng(-37.765791, 144.908219),
            new google.maps.LatLng(-37.765763, 144.908759),
            new google.maps.LatLng(-37.765726, 144.909348),
            new google.maps.LatLng(-37.765716, 144.909882),
            new google.maps.LatLng(-37.765708, 144.910202),
            new google.maps.LatLng(-37.765705, 144.910253),
            new google.maps.LatLng(-37.765707, 144.910369),
            new google.maps.LatLng(-37.765692, 144.910720),
            new google.maps.LatLng(-37.765699, 144.911215),
            new google.maps.LatLng(-37.765687, 144.911789),
            new google.maps.LatLng(-37.765666, 144.912373),
            new google.maps.LatLng(-37.765598, 144.912883),
            new google.maps.LatLng(-37.765543, 144.913039),
            new google.maps.LatLng(-37.765532, 144.913125),
            new google.maps.LatLng(-37.765500, 144.913553),
            new google.maps.LatLng(-37.765448, 144.914053),
            new google.maps.LatLng(-37.765388, 144.914645),
            new google.maps.LatLng(-37.765323, 144.915250),
            new google.maps.LatLng(-37.765303, 144.915847),
            new google.maps.LatLng(-37.765251, 144.916439),
            new google.maps.LatLng(-37.765204, 144.917020),
            new google.maps.LatLng(-37.765172, 144.917556),
            new google.maps.LatLng(-37.765164, 144.918075),
            new google.maps.LatLng(-37.765153, 144.918618),
            new google.maps.LatLng(-37.765136, 144.919112),
            new google.maps.LatLng(-37.765129, 144.919378),
            new google.maps.LatLng(-37.765119, 144.919481),
            new google.maps.LatLng(-37.765100, 144.919852),
            new google.maps.LatLng(-37.765083, 144.920349),
            new google.maps.LatLng(-37.765045, 144.920930),
            new google.maps.LatLng(-37.764992, 144.921481),
            new google.maps.LatLng(-37.764980, 144.921695),
            new google.maps.LatLng(-37.764993, 144.921843),
            new google.maps.LatLng(-37.764986, 144.922255),
            new google.maps.LatLng(-37.764975, 144.922823),
            new google.maps.LatLng(-37.764939, 144.923411),
            new google.maps.LatLng(-37.764902, 144.924014),
            new google.maps.LatLng(-37.764853, 144.924576),
            new google.maps.LatLng(-37.764826, 144.924922),
            new google.maps.LatLng(-37.764796, 144.925375),
            new google.maps.LatLng(-37.764782, 144.925869),
            new google.maps.LatLng(-37.764768, 144.926089),
            new google.maps.LatLng(-37.764766, 144.926117),
            new google.maps.LatLng(-37.764723, 144.926276),
            new google.maps.LatLng(-37.764681, 144.926649),
            new google.maps.LatLng(-37.812012, 144.904200),
            new google.maps.LatLng(-37.811574, 144.904911),
            new google.maps.LatLng(-37.811055, 144.905597),
            new google.maps.LatLng(-37.810479, 144.906341),
            new google.maps.LatLng(-37.779996, 144.906939),
            new google.maps.LatLng(-37.779459, 144.907613),
            new google.maps.LatLng(-37.778953, 144.908228),
            new google.maps.LatLng(-37.778409, 144.908839),
            new google.maps.LatLng(-37.777842, 144.909501),
            new google.maps.LatLng(-37.777334, 144.910181),
            new google.maps.LatLng(-37.776809, 144.910836),
            new google.maps.LatLng(-37.776240, 144.911514),
            new google.maps.LatLng(-37.775725, 144.912145),
            new google.maps.LatLng(-37.775190, 144.912805),
            new google.maps.LatLng(-37.774672, 144.913464),
            new google.maps.LatLng(-37.774084, 144.914186),
            new google.maps.LatLng(-37.773533, 144.913636),
            new google.maps.LatLng(-37.773021, 144.913009),
            new google.maps.LatLng(-37.772501, 144.912371),
            new google.maps.LatLng(-37.771964, 144.911681),
            new google.maps.LatLng(-37.771479, 144.911078),
            new google.maps.LatLng(-37.770992, 144.910477),
            new google.maps.LatLng(-37.770467, 144.909801),
            new google.maps.LatLng(-37.770090, 144.908904),
            new google.maps.LatLng(-37.769657, 144.908103),
            new google.maps.LatLng(-37.769132, 144.907276),
            new google.maps.LatLng(-37.768564, 144.906469),
            new google.maps.LatLng(-37.767980, 144.905745),
            new google.maps.LatLng(-37.767380, 144.905299),
            new google.maps.LatLng(-37.766604, 144.905297),
            new google.maps.LatLng(-37.765838, 144.905200),
            new google.maps.LatLng(-37.765139, 144.905139),
            new google.maps.LatLng(-37.764457, 144.905094),
            new google.maps.LatLng(-37.763716, 144.905142),
            new google.maps.LatLng(-37.762932, 144.905398),
            new google.maps.LatLng(-37.762126, 144.905813),
            new google.maps.LatLng(-37.761344, 144.906215),
            new google.maps.LatLng(-37.760556, 144.906495),
            new google.maps.LatLng(-37.759732, 144.906484),
            new google.maps.LatLng(-37.758910, 144.906228),
            new google.maps.LatLng(-37.758182, 144.905695),
            new google.maps.LatLng(-37.757676, 144.905118),
            new google.maps.LatLng(-37.757039, 144.904346),
            new google.maps.LatLng(-37.756335, 144.903719),
            new google.maps.LatLng(-37.755503, 144.903406),
            new google.maps.LatLng(-37.754665, 144.903242),
            new google.maps.LatLng(-37.753837, 144.903172),
            new google.maps.LatLng(-37.752986, 144.903112),
            new google.maps.LatLng(-37.751266, 144.903355)
        ];
    }
</script>
<script 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6Z479QhF3vXmksr0WsN6PtYGkDaYIoxA&libraries=visualization&callback=initMap">
</script>
{% endblock content %}