{% extends 'map/base.html' %}
{% load static %}

{% block content-css %}
<link href="{% static 'map/css/custom.css' %}" rel='stylesheet' type='text/css'>
{% endblock content-css %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12" id="map"></div>
        <div id="info-box">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 id="suburb-name" class="card-title">Suburb Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Sentiment: </h6>
                        <p id="sentiment" class="card-text">sentiment number</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-bottom: 80px">
    <div class="row" style="margin-top: 40px">
        <div id="chart-sentiment" class="col-md-6" style="width:100%;height:300px;"></div>
        <div id="pie-chart" class="col-md-6" style="width:100%;height:300px;"></div>
    </div>
    <div class="row" style="margin-top: 40px">
        <div id="chart-hour" class="col-md-12" style="width:100%;height:400px;"></div>
    </div>
    <div style="margin-top: 40px">
        <div align="center">
            <h4>Top 50 Topics</h4>
        </div>
        <div id="word-cloud-all"></div>
    </div>

    <div style="margin-top: 40px">
        <div align="center">
            <h4>Top 50 Negative Topics</h4>
        </div>
        <div id="word-cloud-neg"></div>
    </div>

    <div style="margin-top: 40px">
        <div align="center">
            <h4>Top 50 Positive Topics</h4>
        </div>
        <div id="word-cloud-pos"></div>
    </div>
</div>

{% endblock content %}

{% block content-js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6Z479QhF3vXmksr0WsN6PtYGkDaYIoxA"></script>
<script src="https://gw.alipayobjects.com/os/antv/assets/g2/3.0.9/g2.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/assets/data-set/0.8.7/data-set.min.js"></script>
<script src="{% static 'map/js/echarts.js' %}"></script>
<!--<script src="https://gw.alipayobjects.com/os/antv/assets/lib/jquery-3.2.1.min.js"></script>-->
<!--<script src="https://gw.alipayobjects.com/os/antv/assets/lib/lodash-4.17.4.min.js"></script>-->

<script>
    function initMap() {
        var location = {lat: -37.8136, lng: 144.99758596};
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
            center: location,
            zoom: 10,
            panControl: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#bdbdbd"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dadada"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#c9c9c9"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                }
            ]

        };
        var map = new google.maps.Map(mapCanvas, mapOptions);


        // $.get("http://127.0.0.1:8000/api/v1/sentiment_by_suburbs").done(function (geojson) {
            map.data.loadGeoJson("{% static 'map/res/melbourne_suburbs.geojson' %}");
            map.data.setStyle(function (feature) {
                var outlineWeight = 0.5, zIndex = 1;
                if (feature.getProperty('state') === 'hover') {
                    outlineWeight = zIndex = 2;
                }

                return ({
                    fillColor: feature.getProperty('color'),
                    fillOpacity: 0.6,
                    strokeWeight: outlineWeight,
                    zIndex: zIndex,
                    strokeColor: '#FFFFFF',
                    strokeOpacity: 0.9
                });
            });
            map.data.addListener('mouseover', function (event) {
                event.feature.setProperty('state', 'hover');

                console.log(event.feature.getProperty('pos'));
                // $("#suburb-name").text(event.feature.getProperty('geography_name'));
                $("#suburb-name").text(event.feature.getProperty('suburb_name'));
                $("#sentiment").text(event.feature.getProperty('score'));
                event.feature.setProperty('state', 'hover');

            });
            map.data.addListener('mouseout', function (event) {
                event.feature.setProperty('state', 'normal');
            });

        // });


        // // map.data.loadGeoJson("{% static 'map/img/affordability20162017.geojson' %}");
        // map.data.setStyle(function (feature) {
        //     var outlineWeight = 0.5, zIndex = 1;
        //     if (feature.getProperty('state') === 'hover') {
        //         outlineWeight = zIndex = 2;
        //     }
        //
        //     return ({
        //         fillColor: feature.getProperty('color'),
        //         fillOpacity: 0.6,
        //         strokeWeight: outlineWeight,
        //         zIndex: zIndex,
        //         strokeColor: '#FFFFFF',
        //         strokeOpacity: 0.9
        //     });
        // });
        // map.data.addListener('mouseover', function (event) {
        //     event.feature.setProperty('state', 'hover');
        //
        //     console.log(event.feature.getProperty('pos'));
        //     // $("#suburb-name").text(event.feature.getProperty('geography_name'));
        //     $("#suburb-name").text(event.feature.getProperty('vic_loca_2'));
        //     $("#sentiment").text(event.feature.getProperty('score'));
        //     event.feature.setProperty('state', 'hover');
        //
        // });
        // map.data.addListener('mouseout', function (event) {
        //     event.feature.setProperty('state', 'normal');
        // })
    }

    google.maps.event.addDomListener(window, 'load', initMap);


    function getTextAttrs(cfg) {
        return _.assign({}, {
            fillOpacity: cfg.opacity,
            fontSize: cfg.origin._origin.size,
            rotate: cfg.origin._origin.rotate,
            text: cfg.origin._origin.text,
            textAlign: 'center',
            fontFamily: cfg.origin._origin.font,
            fill: cfg.color,
            textBaseline: 'Alphabetic'
        }, cfg.style);
    }

    // 给point注册一个词云的shape
    G2.Shape.registerShape('point', 'cloud', {
        drawShape: function (cfg, container) {
            const attrs = getTextAttrs(cfg);
            return container.addShape('text', {
                attrs: _.assign(attrs, {
                    x: cfg.x,
                    y: cfg.y
                })
            });
        }
    });

    $.get("http://127.0.0.1:8000/api/v1/word_cloud").done(function (json) {
        const dv = new DataSet.View().source(json["all_topics"]);
        const range = dv.range('number');
        const min = range[0];
        const max = range[1];
        dv.transform({
            type: 'tag-cloud',
            fields: ['topic', 'number'],
            size: [window.innerWidth / 2, window.innerHeight / 2],
            font: 'Verdana',
            padding: 0,
            timeInterval: 5000, // max execute time
            rotate() {
                let random = ~~(Math.random() * 4) % 4;
                if (random === 2) {
                    random = 0;
                }
                return random * 90; // 0, 90, 270
            },
            fontSize(d) {
                if (d.value) {
                    return ((d.value - min) / (max - min)) * 28 + 24;
                    // return ((d.value - min) / (max - min)) * (80 - 24) + 24;
                }
                return 0;
            }
        });
        const chart = new G2.Chart({
            container: 'word-cloud-all',
            // width: window.innerWidth / 1.5,
            height: window.innerHeight / 1.5,
            padding: 0,
            forceFit: true
        });
        chart.source(dv, {
            x: {nice: false},
            y: {nice: false}
        });
        chart.legend(false);
        chart.axis(false);
        chart.tooltip({
            showTitle: false
        });
        chart.coord().reflect();
        chart.point()
            .position('x*y')
            .color('topic')
            .shape('cloud')
            .tooltip('value*category');
        chart.render();


        const dv1 = new DataSet.View().source(json["neg_topics"]);
        const range1 = dv1.range('number');
        const min1 = range1[0];
        const max1 = range1[1];
        dv1.transform({
            type: 'tag-cloud',
            fields: ['topic', 'number'],
            size: [window.innerWidth / 2, window.innerHeight / 2],
            font: 'Verdana',
            padding: 0,
            timeInterval: 5000, // max execute time
            rotate() {
                let random = ~~(Math.random() * 4) % 4;
                if (random === 2) {
                    random = 0;
                }
                return random * 90; // 0, 90, 270
            },
            fontSize(d) {
                if (d.value) {
                    return ((d.value - min1) / (max1 - min1)) * 28 + 24;
                    // return ((d.value - min) / (max - min)) * (80 - 24) + 24;
                }
                return 0;
            }
        });
        const chart1 = new G2.Chart({
            container: 'word-cloud-neg',
            // width: window.innerWidth / 1.5,
            height: window.innerHeight / 1.5,
            padding: 0,
            forceFit: true
        });
        chart1.source(dv1, {
            x: {nice: false},
            y: {nice: false}
        });
        chart1.legend(false);
        chart1.axis(false);
        chart1.tooltip({
            showTitle: false
        });
        chart1.coord().reflect();
        chart1.point()
            .position('x*y')
            .color('topic')
            .shape('cloud')
            .tooltip('value*category');
        chart1.render();


        const dv2 = new DataSet.View().source(json["pos_topics"]);
        const range2 = dv2.range('number');
        const min2 = range2[0];
        const max2 = range2[1];
        dv2.transform({
            type: 'tag-cloud',
            fields: ['topic', 'number'],
            size: [window.innerWidth / 2, window.innerHeight / 2],
            font: 'Verdana',
            padding: 0,
            timeInterval: 5000, // max execute time
            rotate() {
                let random = ~~(Math.random() * 4) % 4;
                if (random === 2) {
                    random = 0;
                }
                return random * 90; // 0, 90, 270
            },
            fontSize(d) {
                if (d.value) {
                    return ((d.value - min2) / (max2 - min2)) * 28 + 24;
                    // return ((d.value - min) / (max - min)) * (80 - 24) + 24;
                }
                return 0;
            }
        });
        const chart2 = new G2.Chart({
            container: 'word-cloud-pos',
            // width: window.innerWidth / 1.5,
            height: window.innerHeight / 1.5,
            padding: 0,
            forceFit: true
        });
        chart2.source(dv2, {
            x: {nice: false},
            y: {nice: false}
        });
        chart2.legend(false);
        chart2.axis(false);
        chart2.tooltip({
            showTitle: false
        });
        chart2.coord().reflect();
        chart2.point()
            .position('x*y')
            .color('topic')
            .shape('cloud')
            .tooltip('value*category');
        chart2.render();

    });


    $.get("http://127.0.0.1:8000/api/v1/sentiment_by_hours").done(function (json) {
        var hourList = [];
        var xList = [];
        $.each(json, function (key, value) {
            xList.push(key);
            hourList.push(value["percentage"]);
        });
        var hourChart = echarts.init(document.getElementById('chart-hour')).setOption({
            title: {
                text: "Sentiment in 24 Hours",
                x: 'center'
            },
            xAxis: {
                name: 'hours',
                type: 'category',
                data: xList
            },
            yAxis: {
                name: 'sentiment',
                type: 'value'
            },
            series: [{
                data: hourList,
                type: 'line'
            }]
        });
    });

    $.get("http://127.0.0.1:8000/api/v1/sentiment_by_weekdays").done(function (json) {
        var dayList = [];
        var posCount = 0;
        var negCount = 0;
        var neuCount = 0;
        $.each(json, function (key, value) {
            dayList.push(value["percentage"]);
            posCount += value["positive"];
            negCount += value["negative"];
            neuCount += value["neutral"];
        });

        var heihei = {"positive": posCount, "negative": negCount, "neutral": neuCount};

        var weekdayChart = echarts.init(document.getElementById('chart-sentiment')).setOption({
            title: {
                text: "Sentiment in a Week",
                x: 'center'
            },
            xAxis: {
                name: 'days',
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                name: 'sentiment',
                type: 'value'
            },
            series: [{
                data: dayList,
                type: 'line'
            }]
        });

        var pieChart = echarts.init(document.getElementById('pie-chart')).setOption({
            title: {
                text: 'Sentiment Proportion',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'right',
                y: 'bottom',
                data: ['positive', 'negative', 'neutral']
            },
            series: [
                {
                    name: 'Sentiment Proportion',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '18',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: [
                        {value: heihei["positive"], name: 'positive'},
                        {value: heihei["negative"], name: 'negative'},
                        {value: heihei["neutral"], name: 'neutral'},
                    ]
                }
            ],
            color:
                ['#99FF33', '#FF3333', '#FFFF33']

        });
    });

</script>

{% endblock content-js %}